; {{ ansible_managed }}
[www]

user = {{ php70.fpm.fpmUser | default ("apache") }}
group = {{ php70.fpm.fpmGroup | default ("apache") }}

listen.owner = {{ php70.fpm.fpmListenOwner | default ("nobody") }}
listen.group = {{ php70.fpm.fpmListenGroup | default ("nobody") }}
listen.mode = {{ php70.fpm.fpmListenMode | default ("0660") }}

listen = {{ php70.fpm.fpmSock | default("/var/run/php70-fpm.sock") }}

listen.allowed_clients = {{ php70.fpm.fpmListenAllowedClients | default ("127.0.0.1") }}

pm = ondemand
pm.max_children = 100
pm.status_path = /phpfpm-status

slowlog = {{ php70.fpm.fpmSlowLog | default ("/opt/remi/php70/root/var/log/php-fpm/www-slow.log") }}

php_admin_value[error_log] = {{ php70.fpm.fpmErrorLog | default ("/opt/remi/php70/root/var/log/php-fpm/www-error.log") }}
php_admin_flag[log_errors] = on

php_value[session.save_handler] = {{ php70.fpm.fpmSessionSaveHandler | default ("files") }}
php_value[session.save_path]    = {{ php70.fpm.fpmSessionsavePath | default ("/opt/remi/php70/root/var/lib/php/session") }}
php_value[soap.wsdl_cache_dir]  = {{ php70.fpm.fpmSessionSaveCache | default ("/opt/remi/php70/root/var/lib/php/wsdlcache") }}
