; {{ ansible_managed }}
[www]

user = {{ php73.fpm.fpmUser | default ("apache") }}
group = {{ php73.fpm.fpmGroup | default ("apache") }}

listen.owner = {{ php73.fpm.fpmListenOwner | default ("nobody") }}
listen.group = {{ php73.fpm.fpmListenGroup | default ("nobody") }}
listen.mode = {{ php73.fpm.fpmListenMode | default ("0660") }}

listen = {{ php73.fpm.fpmSock | default("/var/run/php73-fpm.sock") }}

listen.allowed_clients = {{ php73.fpm.fpmListenAllowedClients | default ("127.0.0.1") }}

pm = {{ php73.fpm.fpmPm | default ("dynamic") }}
pm.max_children = {{ php73.fpm.fpmMaxChild | default ("50") }}
pm.start_servers = {{ php73.fpm.fpmStartServers | default ("5") }}
pm.min_spare_servers = {{ php73.fpm.fpmMinSpareServers | default ("5") }}
pm.max_spare_servers = {{ php73.fpm.fpmMaxSpareServers | default ("35") }}

{% if fpmStatusPath is defined %}
pm.status_path = {{ fpmStatusPath }}
{% endif %}

slowlog = {{ php73.fpm.fpmSlowLog | default ("/opt/remi/php73/root/var/log/php-fpm/www-slow.log") }}

php_admin_value[error_log] = {{ php73.fpm.fpmErrorLog | default ("/opt/remi/php73/root/var/log/php-fpm/www-error.log") }}
php_admin_flag[log_errors] = on

php_value[session.save_handler] = {{ php73.fpm.fpmSessionSaveHandler | default ("files") }}
php_value[session.save_path]    = {{ php73.fpm.fpmSessionsavePath | default ("/opt/remi/php73/root/var/lib/php/session") }}
php_value[soap.wsdl_cache_dir]  = {{ php73.fpm.fpmSessionSaveCache | default ("/opt/remi/php73/root/var/lib/php/wsdlcache") }}
