; {{ ansible_managed }}
[{{ item.name }}]

user = {{ item.name }}
group = {{ item.name }}

listen.owner = {{ item.name }}
listen.group = {{ item.webgroup | default('www-data') }}

listen.mode = 0660
listen = /var/run/{{ phpversion }}-fpm-{{ item.name }}.sock

{% if item.fpm is defined %}
pm = {{ item.fpm.fpmPm | default ("ondemand") }}
pm.max_children = {{ item.fpm.fpmMaxChild | default ("100") }}

{% if item.fpm.fpmPm == "dynamic" %}
pm.start_servers = {{ item.fpm.fpmStartServers | default ("5") }}
pm.min_spare_servers = {{ item.fpm.fpmMinSpareServers | default ("5") }}
pm.max_spare_servers = {{ item.fpm.fpmMaxSpareServers | default ("35") }}
{% endif %}

{% if item.fpm.fpmStatusPath is defined %}
pm.status_path = {{ item.fpm.fpmStatusPath }}
{% endif %}
{% else %}
pm = ondemand
pm.max_children = 100
{% endif %}

