# {{ ansible_managed }}
# Default php handler

{% if php56 is defined %}Action php56-fcgi /cgi-bin/php56.fcgi{% endif %}

{% if php70 is defined %}Action php70-fcgi /cgi-bin/php70.fcgi{% endif %}

{% if php71 is defined %}Action php71-fcgi /cgi-bin/php71.fcgi{% endif %}

{% if php72 is defined %}Action php72-fcgi /cgi-bin/php72.fcgi{% endif %}

{% if php73 is defined %}Action php73-fcgi /cgi-bin/php73.fcgi{% endif %}

{% if php74 is defined %}Action php74-fcgi /cgi-bin/php74.fcgi{% endif %}

{% if php80 is defined %}Action php80-fcgi /cgi-bin/php80.fcgi{% endif %}